# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
# ignore genereated files
lib/*.g.*

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
ios
# we need AndroidManifest for persistent notification permission
android/.*

linux/
macos/
web/
windows/

# temporary, haven't decided which binaries we're keeping yet
assets/

.vscode/settings.json
.metadata
analysis_options.yaml
devtools_options.yaml
pubspec.lock
flake.lock
build.gradle
